.App {
  background-color: rgb(247, 239, 228);
}

.App h1 {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.dictionary-logo {
  width: 150px;
  border-radius: 4px;
}

footer {
  margin-bottom: 20px;
}
